body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: purple;
    width: 800px;
    margin: auto;
}
li a{
text-decoration: none;
color: lightblue;
font-weight: bold;

}

.nav li {

    list-style-type: none;
}

.container {
    color: lightblue;
}
.container h4, h3{
    color: purple;
}